@using Microsoft.AspNetCore.Identity
@using Pharmacy.Repos.Dto

@model UserReadDto

@{
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
    var roles = ViewBag.Roles as IEnumerable<IdentityRole>;
}


<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Users"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Користувачі</a></li>
                        <li class="breadcrumb-item"><a href="#!">Редагування</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5>Редагування</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form asp-action="Edit">
                                @Html.AntiForgeryToken()
                                <input asp-for="Id" type="hidden" />

                                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">

                                    <label asp-for="FirstName" class="form-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                               
                                <div class="form-group">
                                    <label asp-for="Roles" class="control-label"></label>
                                    <select class="form-select form-control" size="3" id="roles" name="roles" multiple>
                                        @foreach (var r in roles)
                                        {
                                            var selected = @Model.Roles.Any(x => x.Name == r.Name) ? true : false;
                                            <!option value="@r.Name" @(selected ? "selected" : "")>@r.Name</!option>
                                        }
                                    </select>
                                    <span asp-validation-for="Roles" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">

                                    <input class="form-check-input" type="checkbox" asp-for="IsConfirmed" class="form-check-input">
                                    <label asp-for="IsConfirmed" class="control-label"></label>
                                </div>                               

                                <button class="btn btn-primary" type="submit">Зберегти</button>
                                <a href="/user/index" class="btn btn-outline-dark float-end">Повернутися до списку</a>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () {
            $(".form-select").select2();
        });
    </script>
 }

 @*
<div class="float-end">
    <a href="/user/index" class="btn btn-outline-dark">Повернутися до списку</a>
</div>
<h1>Редагування</h1>
<hr />

<div class="row">
    <form asp-action="Edit" class="col-md-4">
        @Html.AntiForgeryToken()
        <input asp-for="Id" type="hidden" />

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Roles" class="form-label"></label>
            <select class="form-select" size="3" id="roles" name="roles" multiple>
                @foreach (var r in roles)
                {
                    var selected = @Model.Roles.Any(x => x.Name == r.Name) ? true : false;
                        <!option value="@r.Name" @(selected ? "selected" : "")>@r.Name</!option>
                }
            </select>
        </div>

        <div class="mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" asp-for="IsConfirmed">
                <label class="form-check-label" asp-for="IsConfirmed"></label>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Зберегти</button>
        </div>
    </form>
</div>

@section Scripts {

        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <script src="~/lib/select2/js/select2.full.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

        <script>
            $(function() {
                $(".form-select").select2();
            });
        </script>
 }*@