@model IEnumerable<Pharmacy.Core.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
}

<div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h3 class="m-b-10">Замовлення</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @using (Html.BeginForm("Index", "Manager", FormMethod.Post))
    {
        <span>Код замовлення:</span> @Html.TextBox("CustomerName")
        <input class="btn-sm btn-secondary" style="padding:7px,5px" type="submit" value="Пошук" />
        
    }<br />
    <div class="row">
        <!-- [ basic-table ] start -->
        <div class="col-md-12">
            <div class="card">

                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Total)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OrderDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsPaid)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    @if (item.Status == "NEW")
                                    {
                                        <tr style="background-color:#D2FACF">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total) грн.
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsPaid)
                                            </td>
                                            <td>
                                                <a class="btn btn-warning" class="card-link" asp-controller="Manager" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                                                <a class="btn btn-primary" class="card-link" asp-controller="Manager" asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                                                <a class="btn btn-danger" class="card-link" asp-controller="Manager" asp-action="Delete" asp-route-id="">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                    else if (item.Status == "підтверджено")
                                    {
                                        <tr style="background-color:#D5D5E0">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total) грн.
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsPaid)
                                            </td>
                                            <td>
                                                <a class="btn btn-warning" class="card-link" asp-controller="Manager" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                                                <a class="btn btn-primary" class="card-link" asp-controller="Manager" asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                                                <a class="btn btn-danger" class="card-link" asp-controller="Manager" asp-action="Delete" asp-route-id="">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                    else if (item.Status == "відправлено")
                                    {
                                        <tr style="background-color:#FFC5C2">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total) грн.
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsPaid)
                                            </td>
                                            <td>
                                                <a class="btn btn-warning" class="card-link" asp-controller="Manager" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                                                <a class="btn btn-primary" class="card-link" asp-controller="Manager" asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                                                <a class="btn btn-danger" class="card-link" asp-controller="Manager" asp-action="Delete" asp-route-id="">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

