@using Pharmacy.Repos.Dto
@using Pharmacy.Repos
@using Microsoft.AspNetCore.Identity
@using Pharmacy.Core
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model CartView
@{
    @if (SignInManager.IsSignedIn(User))
    {
        //ClaimsPrincipal currentUser = this.User;
        //var currentUserID = UserRepos.GetUserByIdAsync(currentUser);
        var id = UserManager.GetUserId(User);
        //var user = UserManager.Users.First(x=>x.UserName == User.Identities.Name.ToString());
        // ViewData["user"] = currentUserID.Id.ToString();
    }
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
}

<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-start">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h3 class="m-b-10">Кошик</h3>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Кошик</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

    <div class="col-md-12">
        <div class="card" style="padding-left: 8px">
            <div class="card-header">
                <h2>Кошик</h2>
            </div>
            <div class="card-body">
                @if (@Model.shopCartItems.Count > 0)
                {


                    <div class="row">

                        <div class="col-8">
                            <div class="row alert alert-secondary" role="alert">
                                <div class="col">
                                    <p>@Model.shopCartItems.Count товар(ів/и) в кошику</p>
                                </div>
                                <div class="col text-end">
                                    <p><a asp-action="Index" asp-controller="Home" class="font-weight-bold text-secondary">Продовжити покупки</a> | <a asp-action="Clear" asp-controller="Cart" class="font-weight-bold text-secondary">Очистити все</a></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                            <div class="table-responsive" style="padding-left: 8px">
                            <h5 style="color:darkgrey">Товари</h5>
                            <table class="table table-light caption-top">
                                <thead>
                                    <tr>
                                        <th>Товар</th>
                                        <th>К-сть</th>
                                        <th></th>
                                        <th>Ціна</th>
                                        <th>Проміжний підсумок</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var u in Model.shopCartItems)
                                    {
                                        <tr>
                                            <td>
                                                <img src="/medicaments/getimage/@u.ProductId" class="card-img-top" style="width:5rem;" alt="...">

                                                <p class="font-weight-bold">@u.ProductName</p>

                                            </td>
                                            <td>@u.Quantity</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@u.ProductId">+</a>
                                                <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@u.ProductId">-</a>
                                                <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@u.ProductId">Видалити</a>
                                            </td>
                                            <td>@u.Price.ToString("N2")</td>
                                            <td>@Model.shopCartItems.Where(x=>x.ProductId==u.ProductId).Sum(x=>x.Quantity * x.Price).ToString("N2") грн</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-end" colspan="5"><strong>Підсумок:@Model.GrandTotal.ToString("N2") грн</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-start" colspan="4">
                                            <a class="btn btn-danger" asp-action="Clear" asp-controller="Cart">Clear Cart</a>
                                            <a class="btn btn-primary" asp-action="CreateOrder" asp-controller="Cart">Замовити</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="col-3"></div>


                }
                else
                {
                        <div>
                            <div class="alert alert-danger" role="alert">
                                <h6>Немає товарів</h6>
                            </div>
                            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Продовжити покупки</a>
                        </div>
                }
            </div>
        </div>
    </div>
    </div></div>

