@model Pharmacy.Core.Medicaments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FlatLayout.cshtml";

    var returnUrl = ViewBag.returnUrl.ToString();
}


<div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h3 class="m-b-10">Деталі</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header">
                    <h3>@Html.DisplayFor(model => model.Name)</h3>
                    <h6 style="color:darkgray">@Html.DisplayNameFor(model => model.Code): @Html.DisplayFor(model => model.Code)</h6>
                    <div class="card-header-right">
                        <div class="btn-group card-option">
                            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="feather icon-more-horizontal"></i>
                            </button>
                            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="/medicaments/getimage/@Model.MedicamentsId" class="card-img-top" style="height:16rem;" alt="...">
                        </div>
                        <div class="col-8">
                            <div class="col">
                                <strong>@Html.DisplayNameFor(model => model.Price)</strong>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Price)
                            </div>
                            <div class="col">
                                <strong>@Html.DisplayNameFor(model => model.ReleaseForm)</strong>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.ReleaseForm)
                            </div>
                            <div class="col">
                                <strong>@Html.DisplayNameFor(model => model.Dosage)</strong>
                            </div>
                            <div class="col">
                                @Html.DisplayFor(model => model.Dosage)
                            </div>
                            <br/>
                            <div class="col">
                                <strong>@Html.DisplayNameFor(model => model.Description)</strong>
                            </div>
                            <div class="col">
                                <strong>@Html.DisplayFor(model => model.Description)</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="text-start">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.MedicamentsId" class="btn btn-primary">Edit</a>
        }
        <a href="@returnUrl" class="btn btn-outline-secondary">Back to List</a>
    </div>
</div>

