@using Pharmacy.Core
@model Pharmacy.Core.Medicaments

@{
    ViewData["Title"] = "Edit";
    var subcategories = ViewBag.Subcategory as IEnumerable<SubCategory>;
    var subcategoriesofMed = ViewBag.SubcategoryOfMed as IEnumerable<SubCategoryMedicaments>;
    var returnUrl = ViewBag.returnUrl.ToString();
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
}

<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Товари</a></li>
                        <li class="breadcrumb-item"><a href="#!">Редагування</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5>Редагування</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form asp-action="Edit" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <input asp-for="MedicamentsId" type="hidden" />
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SubCategories" class="form-label"></label>
                                    <select class="form-select" size="3" id="subcategoriesofMed" name="subcategoriesofMed" multiple>
                                        @foreach (var r in subcategories)
                                        {
                                            bool selected = false;
                                            @if (subcategoriesofMed != null)
                                                @foreach (var s in subcategoriesofMed)
                                                {
                                                    if (r.SubCategoryId == s.SubCategoryId)
                                                    {
                                                        selected = true;
                                                    }
                                                    <!option value="@r.Name" @(selected ? "selected" : "")>@r.Name</!option>
                                                }
                                            //var selected = @Model.SubCategories..Any(x => x.Name == r.Name) ? true : false;
                                            //<!option value="@r.Name" @(selected ? "selected" : "")>@r.Name</!option>
                                        }
                                    </select>
                                    <span asp-validation-for="SubCategories" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <div class="input-group-prepend">
                                        <input asp-for="Price" type="number" step="0,01" class="form-control">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label"></label>
                                    <div class="input-group mb-3">

                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="picture" id="picture">
                                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                                        </div>
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                                

                                <div class="form-group">
                                    <label asp-for="ReleaseForm" class="control-label"></label>
                                    <input asp-for="ReleaseForm" class="form-control" />
                                    <span asp-validation-for="ReleaseForm" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Dosage" class="control-label"></label>
                                    <input asp-for="Dosage" class="form-control" />
                                    <span asp-validation-for="Dosage" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <button type="submit" class="btn  btn-primary">Зберегти</button>
                            </form>
                        </div>

                    </div>
                    <div>
                        <a href="@returnUrl">Back to List</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () {
            $(".form-select").select2();
        });
    </script>
 }
