@model IEnumerable<Pharmacy.Core.Catalog>

@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
}



<div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h3 class="m-b-10">Список каталогів</h3>
                    </div>
                    <div class="float-end">
                        <a href="/admin/createcatalog" class="btn btn-outline-primary">Додати каталог</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <!-- [ basic-table ] start -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body table-border-style">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <a asp-action="EditCatalog" asp-route-id="@item.Id" class="btn btn-warning">Редагувати</a> |
                                            <a asp-action="DeleteCatalog" asp-route-id="@item.Id" class="btn btn-danger">Видалити</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

